@model IEnumerable<CookBook.Models.RecipeModel>

@{
    ViewData["Title"] = "recipes";
}

<style>
    body {
        background-image: url('bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .button-container {
        display: flex;
        gap: 5px;
    }

    .button-container form {
        margin: 0;
    }
</style>

<div class="text-center">
    <h1 class="display-3">Recipes</h1>
</div>

<p>
    <a class="btn btn-success btn-lg" asp-action="Create">Add recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td class="button-container">
                    @Html.ActionLink("Details", "Details", new { id = item.RecipeID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID }, new { @class = "btn btn-danger" })

                    @if (!item.IsFollowed)
                    {
                        using (Html.BeginForm("Follow", "Recipe", new { id = item.RecipeID }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-outline-success">Follow</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
