@model IEnumerable<CookBook.Models.RecipeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>

<p>
    <a asp-action="Create">Add recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.recipeId }) |
                @Html.ActionLink("Edit", "Edit", new { id=item.recipeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.recipeId })
            </td>
        </tr>
}
    </tbody>
</table>
