@model IEnumerable<CookBook.Models.RecipeModel>

@{
    ViewData["Title"] = "recipes";
}

<style>
    body {
        background-image: url('bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="text-center">
    <h1 class="display-3">Recipes</h1>
</div>

<p>
    <a class="btn btn-success btn-lg" asp-action="Create">Add recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
                <td >
                @Html.DisplayFor(modelItem => item.time)
            </td>
                <td>
                @Html.ActionLink("Details", "Details", new { id=item.recipeId }, new { @class = "btn btn-primary"})
                @Html.ActionLink("Edit", "Edit", new { id=item.recipeId }, new { @class = "btn btn-warning"})
                @Html.ActionLink("Delete", "Delete", new { id=item.recipeId }, new { @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
